.App {
  text-align: center;
}

.App h2 {
  font-size: 100px;
  color: blue;
  border-bottom: 1px solid blue;
}
.App p {
  font-size: 24px;
  color: brown;
}

Form {
  margin: auto;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
#firstName {
  color: blue;
}
#lastName {
  color: red;
}

.container {
  display: flex;
  justify-content: space-around;
}

.table__container{
  margin: 0 50px;
}